[user]
	email = misino.arturo@gmail.com
	name = Artrixs

[core]
	editor = "vim"
[alias]
	graph = log --all --graph --oneline --decorate

[color]
	ui = auto

[merge]
	log = true

[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/" 

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gitlab.com:"]
	insteadof = "gl:"
	pushInsteadOf = "gitlab:"
	pushInsteadOf = "git://gitlab.com/"

[url "git://gitlab.com:"]
	insteadOf = "gitlab:"
